@import url(https://fonts.googleapis.com/css?family=Sofia);

.cleaning-lady-container {
    background-color: blue;
    max-width: 100vw;
}

.cleaningSupplies {
    margin-top: 9vh;
    max-width: 100vw;
    width: 100%;
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.superior-cleaning {
    color: red;
    position: absolute;
    top: 100px;
    right: 20px;
    width: 40%;
    font-size: 60px;
    z-index: -1;
}

.superior-cleaning-text {
    font-family: "Sofia", cursive;
    color: white;
}

