
.cleaning-lady-container {
    background-color: blue;
    max-width: 100vw;
}

.cleaningSupplies {
    margin-top: 10vh;
    max-width: 100vw;
    max-height: 85vh;
    width: 100%;
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.superior-cleaning {

    position: absolute;
    top: 150px;
    width: 100%;
    height: 80vh;
    font-size: 60px;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.superior-cleaning-text,
.free-estimate-text {
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.superior-cleaning-text{
    margin-bottom: 50px;
}

.free-estimate-text {
    width: 850px;
    border: solid #ffd031;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

}

.free-estimate-text:hover{
    background-color: #ffd031;
    border: solid white;
    color: white;
    transition: all ease-in-out 0.3s;
    box-shadow: 8px 8px 10px rgb(49, 49, 49), 0 0 2px #094cbe;
    scale: 1.1;
}

